.mainmenubtn {
    background-color: rgb(31, 29, 29);
    color: rgb(255, 255, 255);
    border: 20px;
    border-radius: 1% 50%;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    }
.dropdown {
    position: absolute;
    display: list-item;
}
.dropdown-child {
    display: none;
    background-color: rgb(0, 0, 0);
    min-width: 10px;
    padding: 2%;
    border: 4px;
    border-radius: 8px 10px;
}
.dropdown-child a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}